div.weather {
	position: relative;
	background-color: #c9c9c9;
	width: 200px;
	height: 100px;
	border: 1px #000 solid;
}

div.image {
	position: absolute;
	top: -20px;
	left: 100px;
}

div.weatherStation, div.temperature {
	padding: 8px;
	font-size: 14px;
	font-family: "Trebuchet MS";
	font-weight: bold;
	text-shadow: #fff 2px 2px 1px;
}

div.weatherStation {
	float: left;
}

div.temperature {
	float: right;
}

div.windspeed {
	clear: both;
}