div.weather {
	position: relative;
}

div.image {
}

div.weatherStation {
}

div.temperature {
}

div.weatherStation {
}

div.temperature {
}

div.windspeed {
}

div.windspeed span.unit {
	padding-left: 4px;
}

div.weatherStations {
	display: none;
}

div.windDirectionIcon {
}